@use 'variables' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $ff-main;
  font-size: 24px;
  line-height: 32px;
  color: $color-white;
  margin: 0;
  padding: 0;
  background-color: $color-fog-of-war;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 32px 0 0 0;
  flex-grow: 1;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  text-decoration: none;
  color: $color-white;
}
