/* Fonts */
/* ------------------------------------ */
$ff-main: "Play", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #FFFFFF;
$color-black: #000000;
$color-onyx: #393B3C;