/* Fonts */
/* ------------------------------------ */
$ff-main: "Play", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #FFFFFF;
$color-black: #000000;
$color-onyx: #393B3C;
$color-magenta: #DC5DFC;

$color-white-50: rgba($color-white, 0.5);