/* Fonts */
/* ------------------------------------ */
$ff-main: 'Play', 'Arial', sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #ffffff;
$color-black: #000000;
$color-onyx: #393b3c;
$color-magenta: #dc5dfc;
$color-tropical-forest-green: #308e21;

$color-white-50: rgba($color-white, 0.5);
$color-white-70: rgba($color-white, 0.7);
