@use '../global/variables.scss' as *;

.btn {
  cursor: pointer;
  border: none;
  padding: 15px 47px;
  margin: 0;
  border-radius: 28px;
  border: 1px solid;
  font-family: $ff-main;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $color-white;
  outline: none;
  transition: opacity $transition-80;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:disabled {
    cursor: default;
    color: $color-white-50;
  }

  &--primary {
    background-color: $color-blue-jeans;
    border-color: $color-blue-jeans;

    &:disabled {
      background-color: $color-signature-blue;
      border-color: $color-signature-blue;
    }
  }

  &--secondary {
    background-color: $color-onyx;
    border-color: $color-black-40;

    &:disabled {
      background-color: $color-industrial-revolution;
    }
  }

  &--tertiary {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-black;
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 21px;

    &:disabled {
      background-color: $color-industrial-revolution;
    }
  }
}
