@use '../global/variables' as *;

.custom-input {
  $root: &;
  position: relative;
  width: 100%;

  &--error {
    #{$root}__field {
      border-color: $color-embarrassment;
    }

    #{$root}__search-icon {
      color: $color-embarrassment;
    }
  }

  &:not(&--error) {
    #{$root}__field {
      &:hover,
      &:focus-visible {
        border-color: $color-winterspring-lilac;

        ~ #{$root}__search-icon {
          color: $color-winterspring-lilac;
        }
      }
    }
  }

  &__field {
    border: 1px solid $color-onyx;
    border-radius: 8px;
    padding: 11px 51px;
    width: 100%;
    outline: none;
    font-size: 18px;
    line-height: 24px;
    background-color: $color-onyx;
    color: $color-white;
    transition: border-color $transition-80;
  }

  &__search-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-white-50;
    pointer-events: none;
    transition: color $transition-80;
  }

  &__btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    outline: none;
    color: $color-white-50;
    background-color: transparent;

    &:hover,
    &:focus-visible {
      color: $color-winterspring-lilac;
    }
  }
}
