@use '../global/variables' as *;
@use '../global/mixins' as *;

.header {
  padding: 24px 0;

  &__wrapper {
    display: grid;
    gap: 80px;
    grid-template-columns: 144px 1fr;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      gap: 30px;
    }

    @include vp-767 {
      grid-template-columns: 81px 1fr;
    }
  }

  &__logo {
    outline: none;
  }

  &__image {
    width: 144px;
    height: 32px;

    @include vp-767 {
      width: 81px;
    }
  }

  &__content {
    display: grid;
    align-items: center;
    gap: 80px;
    grid-template-columns: 1fr 120px;

    @media (max-width: 1200px) {
      gap: 30px;
    }

    @include vp-767 {
      display: flex;
      gap: 20px;
      justify-content: end;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 40px;

    @include vp-767 {
      gap: 20px;
    }
  }

  &__link,
  &__link-main {
    font-size: 24px;
    line-height: 32px;
    position: relative;
    outline: none;
    transition: color $transition-80;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: $color-white;
    font-family: $ff-main;
    cursor: pointer;

    &--profile {
      text-align: right;
    }

    &:hover,
    &:focus-visible {
      color: $color-winterspring-lilac;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1.5px;
      background-color: $color-magenta;
      position: absolute;
      bottom: -6px;
      left: 0;
      display: none;
    }

    &.router-link-active {
      &::after {
        display: block;
      }
    }
  }

  &__link-main {
    @include vp-1023 {
      display: none;
    }
  }

  &__link-text {
    @include vp-767 {
      display: none;
    }
  }

  &__link-icon {
    display: none;

    @include vp-767 {
      display: block;
      color: $color-white;
    }
  }

  &__btn {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;

    @include vp-767 {
      display: flex;
    }
  }

  &__search {
    width: 100%;
  }

  &__search-form {
    &--mobile-show {
      @include vp-767 {
        display: block;
      }
    }

    @include vp-767 {
      display: none;
    }
  }

  &__right {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__right-desktop {
    @include vp-767 {
      display: none;
    }
  }

  &__right-mobile {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
