@use '../global/variables' as *;

.just-validate-error-label {
  color: $color-embarrassment !important;
  position: absolute;
  bottom: 0px;
  top: calc(100% + 15px);
  // bottom: -15px;
  width: 100%;
  z-index: 10;
}
