@use '../global/variables' as *;

.loader {
  background-color: $color-fog-of-war;
  height: calc(100vh - 96px - 32px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  opacity: 1;

  &__logo {
    width: 150px;
    height: 150px;
    animation: logoRotate 2s ease 10;
    color: $color-magenta;
  }
}

@keyframes logoRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
