@use '../global/variables.scss' as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  padding: 64px 40px 48px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--trailer {
    width: 960px;
    height: 540px;
    background-color: $color-onyx;
    border: 1px solid $color-white-50;
    border-radius: initial;
    padding: 0;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__frame {
    width: 100%;
    height: 100%;
  }

  &__frame-error {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__error-text {
    margin: 0;
  }

  &__link {
    display: block;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin: 0 0 40px;
  }

  &__title {
    font-weight: 700;
    margin: 0 0 24px;
    color: $color-black;
    display: block;
    text-align: center;
    max-width: 340px;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $color-black;
    display: block;
    text-align: center;
    margin: 0 0 24px;
    max-width: 340px;
  }

  &__btn {
    position: absolute;
    padding: 12px;
    background-color: $color-white;
    border-radius: 50%;
    color: $color-black;
    border: none;
    top: 0;
    right: -72px;
    transition: background-color $transition-80;

    &:hover,
    &:focus-visible {
      opacity: 1;
      background-color: $color-winterspring-lilac;
    }
  }
}
