@use '../global/variables' as *;
@use '../global/mixins.scss' as *;

.movie-card {
  $root: &;
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 40px;
  align-items: center;
  position: relative;

  @include vp-1023 {
    grid-template-columns: 1fr 380px;
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }

  &--search {
    padding: 20px 8px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    justify-content: start;

    .header--search-open & {
      @include vp-767 {
        align-items: start;
        width: 220px;
        flex-direction: column-reverse;
        padding: 0;
        height: 100%;

        #{$root}__content {
          height: 100%;
          justify-content: space-between;
          gap: 5px;
        }

        #{$root}__labels {
          flex-wrap: wrap;
        }

        #{$root}__genres {
          max-width: unset;
          white-space: initial;
        }

        #{$root}__image {
          width: unset;
          height: 206px;
        }
      }
    }

    #{$root}__content {
      display: flex;
      flex-direction: column;
      min-width: 0;
    }

    #{$root}__plot,
    #{$root}__btns {
      display: none;
    }

    #{$root}__labels {
      grid-template-columns: 47px 33px 1fr 70px;
      gap: 12px;
      margin: 0 0 8px;

      @media (max-width: 900px) {
        display: flex;
      }
    }

    #{$root}__rating {
      gap: 4px;
      padding: 2px 8px;
      border-radius: 16px;
    }

    #{$root}__rating-number {
      font-weight: 700;
      font-size: 12px;
      line-height: 6px;
    }

    #{$root}__rating-icon {
      width: 10px;
      height: 10px;
    }

    #{$root}__year,
    #{$root}__genres,
    #{$root}__runtime {
      font-size: 14px;
      line-height: 20px;
    }

    #{$root}__genres {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media (max-width: 900px) {
        display: none;
      }
    }

    #{$root}__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }

    #{$root}__image {
      height: 52px;
      width: 40px;
    }

    #{$root}__link-search {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 6px;
      transition: outline $transition-80;

      &:hover {
        outline: 1px solid $color-white-50;
      }
    }

    #{$root}__icon-default {
      width: 40px;
      height: 40px;
    }
  }

  &--view {
    .btn--random {
      display: none;
    }
  }

  &__labels {
    display: grid;
    grid-template-columns: 70px 42px auto 90px;
    gap: 16px;
    align-items: center;
    justify-content: start;
    margin: 0 0 16px;

    @include vp-767 {
      grid-template-columns: 70px 33px auto 70px;
      margin: 0 0 12px;
    }
  }

  &__rating {
    display: flex;
    gap: 4px;
    padding: 4px 12px;
    border-radius: 16px;
    align-items: center;

    &--excellent {
      background-color: $color-rating-excellent;
    }

    &--good {
      background-color: $color-rating-good;
    }

    &--poor {
      background-color: $color-rating-poor;
    }

    &--bad {
      background-color: $color-rating-bad;
    }
  }

  &__rating-number {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  &__year,
  &__genres,
  &__runtime {
    font-size: 18px;
    line-height: 24px;
    color: $color-white-70;

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__genres {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 16px;

    @include vp-1023 {
      font-size: 38px;
      line-height: 44px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 12px;
    }
  }

  &__plot {
    color: $color-white-70;
    margin: 0 0 60px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 32px;
    }
  }

  &__btns {
    display: flex;
    gap: 16px;
    align-items: center;

    @include vp-1023 {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  & .btn--primary {
    grid-column: span 3;
  }

  &__image {
    object-fit: contain;
    height: 552px;
    width: 368px;

    @media (max-width: 900px) {
      height: 460px;
      width: 307px;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__icon-default {
    height: 300px;
    width: 300px;
    place-self: center;
  }

  &__link-search {
    display: none;
  }
}
