@use '../global/variables.scss' as *;

.profile {
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 64px;
  }

  &__switcher {
    display: flex;
    gap: 64px;
    align-items: center;
    margin: 0 0 64px;
  }

  &__link {
    position: relative;
    outline: none;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: color $transition-80;

    &:hover,
    &:focus-visible {
      color: $color-winterspring-lilac;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1.5px;
      background-color: $color-magenta;
      position: absolute;
      bottom: -6px;
      left: 0;
      display: none;
    }

    &.router-link-active {
      &::after {
        display: block;
      }
    }
  }
}
