@use '../global/variables.scss' as *;

.socials {
  $root: &;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;

  &__link {
    outline: none;
    transition: color $transition-80;

    &:hover,
    &:focus-visible {
      #{$root}__link-icon {
        color: $color-white;
      }
    }
  }

  &__link-icon {
    color: $color-white-80;
  }
}
